.background {
  height: 564px;
  background-color: #93c4b8;
  text-align: center; }

footer {
  height: 687px;
  background-color: #4a4a4a; }

.white {
  color: white; }

.team_img {
  width: 200px;
  height: 200px;
  overflow: hidden;
  display: inline-block;
  background-color: gray;
  border-radius: 50%;
  position: relative; }
  .team_img img {
    display: block;
    width: 100%; }
  .team_img:after {
    position: absolute;
    top: -76px;
    left: 85px;
    font-size: 50px;
    color: red;
    display: block;
    content: "+";
    transition: 0.5s; }
  .team_img:hover:after {
    top: 67px;
    transform: rotate(360deg); }

.navbar-brand {
  font-family: 'Lobster', cursive;
  font-size: 43px;
  color: #44c0c2 !important;
  margin-top: 30px; }
  @media screen and (max-width: 767px) {
    .navbar-brand {
      margin-bottom: 30px; } }

@media screen and (max-width: 767px) {
  .navbar-toggle {
    margin-top: 38px; } }

.navbar-nav {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #484c55 !important; }
  .navbar-nav li {
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 3px solid rgba(0, 0, 0, 0);
    transition: 0.2s; }
    .navbar-nav li:hover {
      background-color: #f8f9fb;
      border-bottom: 3px solid #49cbcd; }
    .navbar-nav li a {
      padding: 44px 24px; }
      @media screen and (max-width: 767px) {
        .navbar-nav li a {
          padding: 20px 24px; } }
      .navbar-nav li a:hover {
        color: #44c0c2 !important;
        transition: 0.2s; }

nav.navbar.navbar-default {
  background: linear-gradient(to top, white, white); }

.navbar-default {
  border: none; }

.navbar {
  margin-bottom: 0; }

.bg_block {
  background-image: url("../images/bg.jpg");
  height: 565px;
  background-size: cover; }

.owl-carousel {
  margin-top: 118px; }
  .owl-carousel h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 63px;
    font-weight: 600;
    color: white; }
    @media screen and (max-width: 767px) {
      .owl-carousel h1 {
        font-size: 35px; } }
  .owl-carousel p {
    font-family: 'Open Sans', sans-serif;
    font-size: 23px;
    color: white;
    margin-top: 28px;
    line-height: 36px; }
    @media screen and (max-width: 767px) {
      .owl-carousel p br {
        display: none; } }
  .owl-carousel a {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
    font-weight: 600;
    padding: 15px 41px;
    border: 3px solid white;
    display: inline-block;
    margin-top: 56px;
    border-radius: 7px; }
    .owl-carousel a:hover {
      background-color: white;
      color: #44c0c2;
      text-decoration: none;
      transition: 0.2s; }

.owl-nav .owl-prev {
  width: 50px;
  height: 50px;
  background-color: white !important;
  border-radius: 50%;
  display: block;
  position: absolute;
  left: 0;
  top: 143px;
  font-family: "Font Awesome 5 Free" !important;
  color: #44c0c2 !important;
  font-size: 35px !important;
  font-weight: 900 !important; }
  @media screen and (max-width: 767px) {
    .owl-nav .owl-prev {
      top: 197px; } }
  .owl-nav .owl-prev:before {
    content: "\f104"; }

.owl-nav .owl-next {
  width: 50px;
  height: 50px;
  background-color: white !important;
  border-radius: 50%;
  display: block;
  position: absolute;
  right: 0;
  top: 143px;
  font-family: "Font Awesome 5 Free" !important;
  color: #44c0c2 !important;
  font-size: 35px !important;
  font-weight: 900 !important; }
  @media screen and (max-width: 767px) {
    .owl-nav .owl-next {
      top: 197px; } }
  .owl-nav .owl-next:before {
    content: "\f105"; }

.theteam_block h2 {
  margin: 107px 0 136px;
  color: #4e525d;
  font-size: 42px;
  font-family: 'Open Sans', sans-serif; }

.name {
  margin-top: 71px;
  color: #4e525d;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px; }

.position {
  color: #4e525d;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: -10px 0 34px; }

.description {
  color: #4e525d;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin-bottom: 110px; }

.coupons_main {
  background-color: #f1f1f1;
  padding: 118px 0 100px; }

.coupons a {
  padding: 0 50px;
  background-color: #788492;
  display: inline-block;
  margin: 30px 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 17px;
  text-decoration: none;
  color: white;
  border-radius: 4px;
  border: 3px solid rgba(0, 0, 0, 0); }
  .coupons a:hover {
    background-color: white !important;
    color: #485460;
    border: 3px solid #485460;
    transition: 0.2s; }
.coupons ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0; }
  .coupons ul li {
    border: 1px solid #f8f9fb;
    color: #8c9299;
    font-family: 'Open Sans', sans-serif;
    line-height: 46px;
    font-size: 14px;
    background-color: white; }
    .coupons ul li:first-of-type {
      line-height: 75px;
      font-family: 'Open Sans', sans-serif;
      color: white;
      font-size: 26px;
      background-color: #485460; }
    .coupons ul li:nth-child(2) {
      font-family: 'Open Sans', sans-serif;
      line-height: 68px;
      font-size: 20px;
      color: #485460;
      background-color: #f8f9fb; }
    .coupons ul li:last-of-type {
      background-color: #f8f9fb; }

.aqua {
  background-color: #49cbcd !important; }

form button {
  width: 100%; }

/*# sourceMappingURL=style.css.map */
