.background{
  height: 564px;
  background-color: #93c4b8;
  text-align: center;
}

.center{
  text-align: center;
}

footer{
  height: 687px;
  background-color: #4a4a4a;
}

.white{
  color: white;
}